
body{
    margin: 0;
}


#header{
    display: flex;
    justify-content: space-between;
    /* border: solid red 5px; */
    padding: 1vh;
    font-size: 1.6em;   
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#logo{
    /* border: solid orange 5px; */
    color: #309e85;
}

#cartes-bookings{
    display: flex;
}

#cartes{
    /* border: solid pink 5px; */
    padding-right: 10vh;
}

#bookings{
    /* border: solid pink 5px; */
}







#landing-page{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url("./images/background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#welcome-text{
    font-size: 1.2em;
    text-align: center;
    color: whitesmoke;
    padding-top: 4vh;
    padding-bottom: 4vh;
}







#boxes-container{
    display: flex;
    justify-content: space-between;
    width: 55vw;
    font-family: Verdana, sans-serif;
}

#box-left, #box-right{
    width: 22vw;
    height: 22vw;
    background-color: white;
    border-radius: 10px;   
    padding: 10px;
}

#box-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#departure{
    margin-bottom: 5px;
}


#departure, #arrival, #date, #search{
    height: 5vh;
}


input, #search-btn{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
}

button{
    border-radius: 5px;
    border: none;
}

input{
    /* background-color: whitesmoke; */
    background-color: rgb(235, 235, 235);
    padding: 0px;
    /* margin: 0px; */
}

button{
    color: white;
    background-color: #309e85;
    text-align: center;
}



#box-right{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}


#results-container, #trips-container{
    overflow-y: scroll;
    height: 100%;
    font-size: 1.2em;
    width: 100%;
}


.result, .tripElem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 10%;
    /* background-color: rgb(235, 235, 235); */
    background-color: rgb(245, 238, 238);
    margin-bottom: 10px;
    border-radius: 5px;
}

.result-back-btn{
    width: 20%;
    height: 70%;
    font-size: 1em;
}


#landing-page-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    width: 100vw;
    height: 100vh;
}


#cart-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 1.1em;
}

#my-cart-title{
    font-size: 1.5em;
}

#trips-container{
    width: 80%;
    height: 80%;
}

.delete-trip-btn{
    width: 10%;
    height: 70%;
}