
body{
    margin: 0;
}

#landing-page{
    /* margin-top: -3vh; */
    background-image: url("./background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#header{
    display: flex;
    justify-content: space-between;
    /* border: solid red 5px; */
    padding: 3vh;
}

#logo{
    /* border: solid orange 5px; */
    color: green;
    /* padding: 3vh; */
}

#cartes-bookings{
    display: flex;
}

#cartes{
    /* border: solid pink 5px; */
    /* padding: 3vh; */
    padding-right: 5vh;
}

#bookings{
    /* border: solid pink 5px; */
    /* padding: 3vh; */
}







#landing-page{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#welcome-text{
    /* width: 80vw;
    height: 20vw; */
    text-align: center;
    color: whitesmoke;
    padding-top: 8vh;
    padding-bottom: 8vh;
}



#boxes-container{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    /* position: relative;
    left: 25vw;
    padding-top: 10vh; */
}

#box-left, #box-right{
    width: 18vw;
    height: 22vw;
    background-color: whitesmoke;
    border-radius: 15px;
}

#box-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}


#departure, #arrival, #date, #search{
    height: 25px;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    /* font-size: large; */
}

#departure{
    margin-bottom: 2px;
}

#departure, #arrival{
    text-align: left;
}
 
#search{
    background-color: #309e85;
    text-align: center;
}
