
body{
    margin: 0;
}

#landing-page{
    background-image: url("./images/background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#header{
    display: flex;
    justify-content: space-between;
    /* border: solid red 5px; */
    padding: 2vh;
    font-size: 1.8em;   
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#logo{
    /* border: solid orange 5px; */
    color: green;
}

#cartes-bookings{
    display: flex;
}

#cartes{
    /* border: solid pink 5px; */
    padding-right: 5vh;
}

#bookings{
    /* border: solid pink 5px; */
}







#landing-page{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#welcome-text{
    font-size: 1.2em;
    text-align: center;
    color: whitesmoke;
    padding-top: 6vh;
    padding-bottom: 8vh;
}







#boxes-container{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

#box-left, #box-right{
    width: 18vw;
    height: 20vw;
    background-color: white;
    border-radius: 10px;   
    padding: 10px;
}

#box-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#departure{
    margin-bottom: 5px;
}


#departure, #arrival, #date, #search{
    height: 5vh;
}


input, button{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    border-radius: 5px;
}

input{
    background-color: whitesmoke;
    padding: 0px;
    /* margin: 0px; */
}

button{
    color: white;
    background-color: #309e85;
    text-align: center;
}



#box-right{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

